<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/models/legends.js">
    <link rel="stylesheet" href="/public/master.css">
    <title></title>
  </head>
  <body>
    <h1>Home</h1>
    <p>--------------------------</p>
<ul>
    <% for(let i = 0; i < legend.length; i++){ %>
      <li>
          <a href="/legend/<%=legend[i].id %>">
              <%= legend[i].name %>
          </a>
          <form action="/legend/<%=legend[i].id%>?_method=delete" method="put">
              <input type="submit" value="DELETE"/>
          </form>
      </li>
    <% } %>
</ul>
<p>--------------------------</p>
<nav>
  <a href="/newLegend">New Legend</a>
</nav>


  </body>
</html>
