<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="sheet" href="/models/legends.js">
    <link rel="stylesheet" href="./master.css">
    <title>Legends</title>
  </head>
  <body>
    <h1>Home</h1>
<ul>
    <% for(let i = 0; i < legends.length; i++){ %>
      <li>
          <a href="/legend/<%=legends[i].id %>">
              <%= legends[i].name %>
          </a>
          <form action="/legend/<%=legends[i].id%>?_method=delete" method="post">
              <input type="submit" value="DELETE"/>
          </form>
      </li>
    <% } %>
</ul>
<nav>
  <a href="/newLegend">New Legend</a>
</nav>


  </body>
</html>
